<form id="add-to-cart-form">
    <select name="id" id="productSelect">
        {% for variant in product.variants %}
        {% if variant.available %}
        <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
        {% else %}
        <option disabled="disabled">
            {{ variant.title }} - sold out
        </option>
        {% endif %}
        {% endfor %}
    </select>
    {{ current_variant.price | money }}
    <label for="Quantity">quantity</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1">
    <button @click="addToCart" type="submit" name="add" id="AddToCart">Add to cart</button>
    ${ variant }
</form>

<script>
    if (document.querySelector('#add-to-cart-form')) {
        const productForm = Vue.createApp({
            delimiters: ['${', '}'], // vuejs uses same notation {{}} as liquid, thats we why we doing this
            data() {
                return {
                    variant: ""
                }
            },
            created() {
                axios.get('/products/{{ product.handle }}.js')
                    .then(results => {
                        console.log("get products results...", results)
                        this.variant = results.data.variants[0].id
                    })
            },
            methods: {
                addToCart(event) {
                    event.preventDefault()

                    let data = {
                        id: this.variant,
                        quantity: 1
                    }
                    axios.post('/cart/add.js', data)
                        .then((response) => {
                            console.log("add to cart response...", response)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                }
            }
        }).mount('#add-to-cart-form')
    }
</script>